
cache/requests/*
!cache/requests/.gitkeep

data/indicators/*
!data/indicators/.gitkeep

data/subset/*
!data/subset/.gitkeep

data/whole/*
!data/whole/.gitkeep

data/db.sqlite

junk/*

__pycache__/
*.py[cod]

docs/*
!docs/.gitkeep

*.html

*.swp
